:root {
  --container-width: 960px;
  --card-width: 456px;
}

@media (min-width: 960px) {
  :root {
    --card-width: 444px;
  }
}

body {
  background-color: var(--color-neutral-10);
  font-family: 'Sofia Sans', sans-serif;
}

h1 > a,
h2 > a,
h3 > a,
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h1 > a:active,
h2 > a:active,
h3 > a:active,
h1 > a:visited,
h2 > a:visited,
h3 > a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

summary {
  color: var(--color-secondary-100);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 960px) {
  .title {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.header {
  background-color: var(--color-neutral-30);
}

.nav {
  background-color: var(--color-primary-100);
  padding: 16px;
  margin-bottom: 4px;
  box-shadow: 0 4px 4px rgba(0 0 0 / 8%);
}

.nav__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__extra-content {
  flex-grow: 1;
  display: none;
  justify-content: right;
}

@media (min-width: 960px) {
  .nav__extra-content {
    display: flex;
  }
}

.nav__items {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  height: 48px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 24px;
}

.nav__item,
.nav__item:hover,
.nav__item:active,
.nav__item:visited {
  text-decoration: none;
  color: var(--color-white);
}

.nav__item:hover {
  background-color: var(--color-secondary-100);
}

.nav__logo {
  width: 230px;
  height: 64px;
}

.hero {
  padding: 24px 16px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hero__title {
  color: var(--color-primary-100);
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
}

.hero__highlight {
  color: var(--color-secondary-70);
}

@media (min-width: 960px) {
  .hero {
    padding: 48px 16px;
  }

  .hero__content {
    gap: 48px;
  }

  .hero__title {
    line-height: 150%;
    font-size: 60px;
  }
}

.button {
  height: 48px;
  padding: 12px 24px;
  background: var(--color-primary-100);
  border: 2px solid var(--color-primary-100);
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 16%);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.button,
.button:hover,
.button:active,
.button:visited {
  text-decoration: none;
  color: var(--color-white);
}

.services__title {
  color: var(--color-primary-100);
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  width: var(--card-width);
}

@media (min-width: 960px) {
  .services__title {
    width: var(--container-width);
  }
}

.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 960px) {
  .services__content {
    gap: 24px;
    padding: 24px;
  }
}

.services__item {
  width: 100%;
  max-width: var(--card-width);
  background-color: var(--color-white);
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 2px 16px rgba(0 0 0 / 8%);
}

.services__item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.services__item-title {
  color: var(--color-primary-100);
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 125%;
}

.services__item-icon {
  width: 64px;
  height: 64px;
}

.footer {
  background-color: var(--color-primary-100);
  color: var(--color-white);
}

.footer__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  width: var(--card-width);
}

@media (min-width: 960px) {
  .footer__title {
    width: var(--container-width);
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 960px) {
  .footer__content {
    gap: 24px;
    padding: 24px;
  }
}

.footer__item {
  width: 100%;
  max-width: var(--card-width);
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address__link {
  line-height: 32px;
}

@media (min-width: 960px) {
  .address__link {
    line-height: 1.5;
  }
}

.address__link,
.address__link:hover,
.address__link:active,
.address__link:visited {
  text-decoration: none;
  color: inherit;
}

.address__item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.address__icon {
  width: 40px;
  height: 40px;
}

.address__content {
  font-weight: 700;
  font-size: 18px;
}

.address__title {
  font-weight: 600;
  font-size: 12px;
}

.address__email {
  font-size: 14px;
}

@media (min-width: 960px) {
  .address__email {
    font-size: 18px;
  }
}

.map {
  width: 100%;
  height: 373px;
  border: 0;
  border-radius: 24px;
}

.copyright {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 16px;
}

.copyright__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__link,
.copyright__link:hover,
.copyright__link:active,
.copyright__link:visited {
  text-decoration: none;
  color: inherit;
}
